.background{
    background-image: url('../Shared/images/bg-pattern.svg');
    background-size: cover;
    height: 55vh;
    position: relative;
}
.bg-image{
    position: absolute;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
}

.title {
    z-index: 100;
    position: absolute;
    text-align: center;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    
}

.title > h1{
    margin-bottom: 10px;
    
}



/* .background > p{
    top: 37%;
    left: 50%;
    transform: translate(-50%, -37%);
} */





