/* *{
    border: 1px solid black
} */
.container{
    border: 1px solid rgb(215, 215, 215);
    border-radius: 10px;
    box-shadow: 0 5px 10px 10px rgba(82, 82, 82, 0.077);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 40em;
    height: 35em;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
    background-color: #fff;
}
.container > div {
    width: 100%;
}

.header{
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-bottom: -20px;
    margin-top: 10px;
}
.page-views{
    text-transform: uppercase;
    font-size: 1.3em;
    color: rgb(147, 147, 147);
    font-weight: 500;
    margin-left: 4rem;
    align-self: center;
  
}
.header__right{
   
}
.pricing{
    margin-right: 4rem;
    align-self: center;
    font-weight: 700;
    color: rgb(145, 145, 145);
}
.price{
    font-size: 2.75em;
    font-weight: 700;
    margin-left: 90px;
}

.savings{
    text-align: center;
    color: green;


}



.duration{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    font-size: 1em;
    color: rgb(147, 147, 147);
    font-weight: 500;
    margin-right: 8rem;  
}
.duration > span{
    margin: .3em;
}
.discount{
    /* border: 1px solid black; */
    border-radius: 10px;
    background-color: #fee6d1;
    color: rgb(218, 142, 0);
    padding: 1px 5px;
    font-size: .75em;
    font-weight: bold;
}

.trial{
    padding: 1.5rem;
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-top: 1px solid rgb(215, 215, 215);
}
.left{
    margin-left: 4rem;
}
.right{
    margin-right: 4rem;
}
button{
    padding: 10px 40px;
    border-radius: 50px;
    background-color: #283157;
    color: rgb(201, 201, 201);
    font-size: 1.2em;
}
.checkmark{
    color: rgb(8, 250, 8);
    margin: 10px 10px 0 0;
}


.right button:hover{
    font: 800;
    color: white;
    cursor: pointer;

}